@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1>Inredning Online</h1>
    <h5>
        Välkommen till Inredning Online, inköpshanteringssystemet
        för dig!
    </h5>
    <br />
    <p>
        Börja med att registrera dig som användare om du inte gjort detta tidigare.
    <br />
        När du registrerat dig och loggat in kan du skapa, se, eller ändra tidigare beställningar.
    </p>

</div>
